@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

.custom-navbar {
    background-color: #7241b4; 
}

.drophovercustom {
    color:white
}

.drophovercustom:hover {
    background: #422770;
    color: white;
    
}


.nodecolink {
    text-decoration: none;
    font-weight:600;
}

.carrusel { 
    margin-top: 3rem;
}



.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    background: #FFF;
    width: 250px;
    margin: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
}

.img {
    height: 200px;
    width: 100%;
    background: url("https://rimage.ripley.cl/home.ripley/Attachment/MKP/4764/MPM10001275633/full_image-1.jpeg");
    border-radius: 5px;
    background-size: cover;
}

.comprar-estilo {
    padding: 10px;
    width: 100%;
    display: block;
    text-align: center;
    background: #333EFF20;
    box-sizing: border-box;
    border-radius: 4px;
    color: #333eFF;
    text-decoration: none;
    font-size: 15px;
}