


.input-container {
    display: -ms-flexbox; 
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    
    }
    
    .icon {
        padding: 10px;
        background: #333eFF;
        color: white;
        min-width: 50px;
        text-align: center;
    }
    
    .input-field {
        width: 100%;
        padding: 10px;
        outline: none;
        border: 2px solid #333EFF20;
    }
    
    .input-field:focus {
        border: 2px solid #302668;
    }
    
    .btn {
        background-color: #333eFF;
        color: white;
        padding: 15px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }
    
    .btn:hover {
        background-color: #333EFF20;
    }